<!DOCTYPE html>
<html lang="en">
<head>
<!--    Metadata which indicates the behavior of the browsers, how the browsers should handle-->
<!--    the web app-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Application Form</title>
</head>
<body>
    <h2>Job Application Form</h2>
    <form>
        <div>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <div>
            <label for="middle_name">Middle Name:</label>
            <input type="text" id="middle_name" name="middle_name">
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="mobile">Mobile Number:</label>
            <input type="number" id="mobile" name="mobile" required>
        </div>
        <div>
            <label for="date">Availability Start Date:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div>
            <label>Current Occupation:</label>
            <br>
            <div id="occupation">
                <input type="radio" id="employed" name="occupation" required>
                <label for="employed">Employed</label>

                <input type="radio" id="unemployed" name="occupation" required>
                <label for="unemployed">Unemployed</label>

                <input type="radio" id="self-employed" name="occupation" required>
                <label for="self-employed">Self-Employed</label>

                <input type="radio" id="student" name="occupation" required>
                <label for="student">Student</label>
            </div>
        </div>
        <div>
            <button type="button">Submit Application</button>
        </div>
    </form>
</body>
</html>